<?php
// development envirment setting
error_reporting(E_ALL | E_STRICT);
// production envirment setting
//error_reporting(E_ALL & ~E_DEPRECATED);

// Timezone setting
date_default_timezone_set('Asia/Taipei');

define('_APP_PATH', str_replace('inc','',str_replace('\\', '/', dirname(__FILE__))));   //定義網站實體位置

// Socket bind IP address and listen port
$address = '127.0.0.1';
$port = 5120;
